nav {
    background :blur(10px);
    width: max-content;
    display: block;
    padding: 0.3rem 1.2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    display: flex;
    gap: 0.8rem;
    box-shadow: 0 15px 30px var(--color-primary);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary-variant);
    font-size: 150%;
}

nav a:hover {
    background: var(--color-primary);
    color: black;
}

nav a.active {
    background: var(--color-primary);
    color: black;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    nav {
        padding: 0.8rem 1rem;
        gap: 1rem;
    }

    nav a {
        padding: 1rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        bottom: 0;
        left: 0;
        transform: none; 
        border-radius: 0;
        padding: 0.7rem 1.7rem;
        justify-content: space-around;
    }

    nav a {
        padding: 0.3rem;
        font-size: 1rem;
    }
}